body {
    font-family: 'Heebo', sans-serif;
    text-align: center;
    margin-top: 56px;
    position: relative;
}

p {
    font-size: 18px;
}

h4 {
    margin-bottom: 15px;
}

.not-full-width {
    margin: 0 auto;
    width: 95%;
    padding-top: 60px;
    padding-bottom: 60px;
}

#header-image {
    background:
        linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
        ),
        url('../about_me/images/purple_explosion.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#greeting {
    color: white;
    text-shadow: 2px 2px 10px #000;
    font-size: 33px;
}

.navbar {
    background-color: rgb(80, 20, 105);
    font-weight: 300;
}

#navbarNav {
    justify-content: flex-end;
    font-weight: 400;
}

.navbar-brand, .nav-link {
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: rgb(255, 255, 255, 0.6);
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255,255,255,.6);
}

.section-header {
    margin-top: 25px;
}

.bio-name {
    margin-bottom: 0;
}

.bio-intro .icon, #contact img  {
    width: 50px;
    transition: transform .3s;
}

.bio-intro .icon:hover, #contact img:hover {
    filter: blur(0);
    transition: transform .3s;
    transform: scale(1.2);
    zoom: 1;
}

.location {
    font-weight: 400;
    margin-top: 0;
}

.headshot {
    border-radius: 100px;
    width: 170px;
    margin-bottom: 10px;
}

.about-me {
    text-align: justify;
}

.purple-section {
    margin-top: 30px;
    background-color: rgb(80, 20, 105);
    color: white;
    padding: 60px 22px;
}

.purple-section > .col {
    margin: 0 auto;
}

.card-bottom {
    margin-bottom: 15px !important;
}

.card-deck {
    color: black;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-flow: column;
}

.card-deck .card {
    padding: 0px;
}

.card-img-top {
    max-width: 320px;
    align-self: center;
}

.see-more {
    padding: 10px;
    width: 120px;
    background-color: rgb(80, 20, 105);
    border-radius: 10px;
    margin: 0 auto;
    transition: transform .3s;
}

.see-more > a {
    color: white;
    text-decoration: none;
}

.see-more:hover {
    filter: blur(0);
    transition: transform .3s;
    transform: scale(1.2);
    zoom: 1;
}

.skills-section img{
    width: 100px;
    transition: transform .3s;
}

.skills-section img:hover {
    filter: blur(0);
    transition: transform .3s;
    transform: scale(1.2);
    zoom: 1;
}

.skills {
    justify-content: center;
}

.skills .col-s {
    margin-right: 10px;
    margin-left: 10px;
}

#footer {
    font-weight: 300;
    padding: 30px;
}

@media (min-width: 576px) {
    .not-full-width {
        width: 90%;
    }
    #header-image {
        height: 200px;
    }
    #greeting {
        font-size: 40px;
    }
    .purple-section > .col {
        max-width: 90%;
    }
    .card-deck .card {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    #header-image {
        height: 250px;
    }
    #greeting {
        font-size: 50px;
    }
    .purple-section > .col {
        max-width: 75%;
    }
}

@media (min-width: 992px) {
    #header-image {
        height: 300px;
    }
    #greeting {
        font-size: 55px;
    }
    .section-header {
        margin-top: 0px;
    }
    .about-me {
        padding: 0 10px;
    }
    .card-deck {
        flex-flow: row;
    }
    .card-deck .card {
        margin: 0 10px 15px 10px;
    }
    .purple-section > .col {
        max-width: 95%;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    #header-image {
        height: 320px;
    }
    #greeting {
        font-size: 55px;
    }
    .section-header {
        margin-top: 0px;
    }
}

@media (min-width: 1600px) {
    #header-image {
        height: 350px;
    }
    #greeting {
        font-size: 70px;
    }
    .section-header {
        margin-top: 0px;
    }
}