body {
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #757575;
    text-align: center;
}

.main-img {
    margin-bottom: 20px;
    margin-top: 60px;
}

.search-bar {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 584px;
    height: 44px;
    border: 1px solid rgb(241, 241, 241);
    box-shadow: 0 2px 2px -2px #666;
}

.search-icon {
    display: inline-block;
    height: 24px;
    position: relative;
    top: 50%;
    margin-top: -25%;
    margin-left: 530px;
}

.button1 {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 11px;
    padding-bottom: 11px;
    width: 126px;
    height: 36px;
    background-color: #f2f2f2;
    margin-right: 4px;
}

.button2 {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 11px;
    padding-bottom: 11px;
    width: 143px;
    height: 36px;
    background-color: #f2f2f2;
}