body {
    font-family: 'Hind', sans-serif;
    padding: 0 50px 0 50px;
}

code {
    font-family: 'Hind', sans-serif; 
}

a:link {
    color: rgb(6, 134, 240);
    text-decoration: none;
} 

a:hover {
    color: rgb(131, 197, 252);
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-weight: 600;
}
  
h4 {    
    text-align: left;
}
  
hr {
    background-color: #000;
    height: 1px;
    border: none;
    box-shadow: 0 0 8px #666;
}

#header {
    padding-bottom: 15px;
    text-align: center;
}

.headshot {
    display: inline-block;
    width: 120px;
    height: 120px;
}
  
.contact-info {
    display: inline-block;
    padding: 7px 0 0 15px;
    vertical-align: top;
    text-align: left;
    font-style: italic;
}
  
.close-line-spacing {
    line-height: 0.2;
}
  
.footer {
    padding-top: 15px;  
}
  
  
td {
    padding: 0 1px 0 1px;
}

.header {
    font-weight: 600;
    font-size: 20px;
    color: rgb(9, 150, 9);
    margin: 30px 0 3px 0;
}