body {
    font-family: 'Hind', sans-serif;
    max-width: 700px;
    margin: 0 auto;
}

.code {
    font-family: 'Hind', sans-serif; 
    color: white;
    letter-spacing: 0.1em;
    background-color: #333;
    box-shadow: 0 2px 5px rgb(61, 61, 61);
    box-sizing: border-box;
    max-width: 800px;
    padding: 12px;
    margin-bottom: 40px;
}

a:link {
    color: rgb(6, 134, 240);
    text-decoration: none;
} 

a:hover {
    color: rgb(131, 197, 252) !important;
    text-decoration: underline;
}

a:visited {
    color: rgb(3, 3, 245);
    text-decoration: none;
}

h1 {
    text-align: center;
    font-weight: 600;
}
  
h4 {    
    text-align: left;
}
  
hr {
    background-color: #000;
    height: 1px;
    border: none;
    box-shadow: 0 0 8px #666;
}

#header {
    padding-bottom: 15px;
    text-align: center;
}

.headshot {
    display: inline-block;
    width: 120px;
    height: 120px;
}
  
.contact-info {
    display: inline-block;
    padding: 20px 0 0 15px;
    vertical-align: top;
    text-align: left;
    font-style: italic;
}
  
.close-line-spacing {
    line-height: 0.2;
}
  
.footer {
    padding-top: 15px;  
}
  
  
td {
    padding: 0 1px 0 1px;
}

.header {
    font-weight: 600;
    font-size: 20px;
    color: rgb(9, 150, 9);
    margin-bottom: -20px;
}