body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.jumbotron-fluid {
    background-image: url("Yosemite 4.jpg");
    background-size: cover;
    text-align: center;
    padding-top: 10%;
    height: 100vh;
}

@media only screen and (max-width: 480px) {
    .jumbotron-fluid {
        background-image: url("Yosemite 4.jpg");
        background-size: cover;
        text-align: center;
        padding-top: 30%;
        height: 100vh;
    }
}

.navbar {
    margin-bottom: 100px;
}

h3 {
    font-style: italic;
}
