body {
    position: relative;
    background: rgba(0, 0, 0, 0.6);
}

.modal-dialog {
    position: fixed;
    top: 25%;
    left: 30%;
    background-color: gray;
    box-shadow: 0 1px 3px 2px #666;
    border-radius: 5px;
    box-sizing: border-box;
    width: 350px;
    height: 200px;
    padding: 10px;
}

.modal-header {
    position: relative;
}

.modal-title {
    color: white;
    font-size: 32px;
    margin: 20px 0 0 5px;
}

.modal-content {
    background-color: white;
    box-sizing: border-box;
    width: 320px;
    height: 130px; 
    padding: 10px;
    margin: 10px auto 0 auto;
}


.modal-buttons {
    position: absolute;
    bottom: 20px;
    right: 25px;
}
