#triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}

#square {
    width: 100px;
    height: 100px;
    background-color: blue;
}

#rectangle {
    width: 200px;
    height: 80px;
    background-color: seagreen;
}

#oval {
    width: 100px;
    height: 120px;
    border-radius: 50px;
    background-color: green;
}

#circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: purple;
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid yellow;
}

#triangle-left {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 100px solid orangered;
}

#triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 100px solid brown;
}

#trapezoid {
    width: 60px;
    height: 0;
    border-bottom: 60px solid darkorchid;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
}
