body {
    background-color: #fafafa;
}

.bio-top {
    margin-top: 120px;
    margin-bottom: 30px;
    z-index: 1;
}

.user-img {
    float: right;
    margin-right: 15%;
    border-radius: 100px;
    border: 1px solid lightgray;
}

@media only screen and (max-width: 575px) {
    .user-img {
        float: right;
        width: 90px;
        height: 90px;
        margin-right: -3px;
        border-radius: 100px;
    }
    .form-inline {
        display: none;
    }
    .navbar-brand {     
        width: 50%;
        height: 50%;
    }
    .bio-top {
        margin-top: 100px;
        margin-bottom: 10px;
        z-index: 1;
    }
}

.user-info h1, p {
    display: inline-block;
    margin-right: 20px;
}

.username {
    font-weight: 200;
}

.ver-icon {
    margin-left: 5px;
    padding-bottom: 6px;
}

.follow-btn {
    background-color: #3897f0;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100px;
    padding: 3px;
    vertical-align: middle;
}

.stats {
    display: inline-block;
    padding-right: 30px;
}

.navbar {
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.navbar-nav {
    flex-direction: row;
}

.signup {
    font-weight: 600;
    text-align: center;
    background-color: #3897f0;
    border-radius: 3px;
    box-sizing: border-box;
    width: 80px;
}

.login {
    font-weight: 600;
    margin-left: 10px;
}

.pics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-bottom: 25px;
}

.pics-container img {
    display: block;
    width: 293px;
    height: 293px; 
    margin: 15px; 
    transition: .7s ease;
    filter: brightness(100%);
}

.pics-container img:hover {
    filter: brightness(60%);
}